.backdrop.is-hidden .order-modal {
  transform: scale(0);
}
.order-modal {
  position: absolute;
  transform: scale(1);
  max-width: 311px;
  max-height: 471px;
  padding: 32px 24px;
  background-color: var(--main-background-color);
  border-radius: 15px;
  transition: transform var(--transition), opacity var(--transition);
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  margin: 14px 14px 0px 0px;
  border: none;
  background-color: var(--main-background-color);
  cursor: pointer;
}
.svg-close {
  stroke: var(--color-black);
  width: 24px;
  height: 24px;
  transition: var(--transition);
}
.svg-close:hover,
.svg-close:focus {
  transform: scale(1.2);
  stroke: var(--color-orange);
}

.modal-rev-title {
  text-align: left;
  margin-bottom: 32px;
}
.review-form {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.input-review {
  padding: 14px 18px;
  border: 1.5px solid var(--color-input-border);
  border-radius: 8px;
  outline: 0;
  box-shadow: 0px 5px 5px #00000008;
  height: 45px;
}
.input-review::placeholder {
  color: var(--color-placeholder);
}
.input-review:hover {
  box-shadow: 0px 5px 5px var(--color-orange);
}
.input-review:invalid:focus {
  box-shadow: inset 0px 0px 20px 5px rgba(231, 76, 60, 0.7);
}
.input-review:valid:focus {
  box-shadow: inset 0px 0px 20px 5px rgba(46, 204, 113, 0.7);
}
.svg-flag {
  position: absolute;
  top: 25%;
  left: 18px;
}
.input-tel {
  padding: 10px 29px 10px 106px;
}
.tel-label {
  position: absolute;
  top: 33%;
  left: 50px;
}
.tel-label::after {
  content: '';
  position: absolute;
  margin-left: 8px;
  top: -5px;
  width: 1px;
  height: 25px;
  text-align: right;
  background-color: var(--color-placeholder);
}
.comment-form {
  position: relative;
  display: flex;
  flex-direction: column;
}
.comment-form-rev {
  padding: 14px 18px;
  margin-bottom: 18px;
  border: 1.5px solid var(--color-input-border);
  border-radius: 8px;
  outline: 0;
  box-shadow: 0px 5px 5px #00000008;
  height: 91px;
  width: 263px;
  resize: none;
}
.comment-form-rev::placeholder {
  color: var(--color-placeholder);
}
.comment-form-rev:hover {
  box-shadow: 0px 5px 5px var(--color-orange);
}
.comment-form-rev:invalid:focus {
  box-shadow: inset 0px 0px 20px 5px rgba(231, 76, 60, 0.7);
}
.comment-form-rev:valid:focus {
  box-shadow: inset 0px 0px 20px 5px rgba(46, 204, 113, 0.7);
}

@media (min-width: 768px) {
  .modal-rev-title br {
    display: none;
  }
  .modal-rev-title {
    max-width: 300px;
    text-align: left;
    margin: 0px 0px 40px 0px;
  }
  .order-modal {
    max-width: 517px;
    max-height: 631px;
    padding: 40px;
  }
  .close-btn {
    margin: 24px 24px 0px 0px;
  }
  .review-form {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
  }
  .form-field {
    margin-bottom: 19px;
  }
  .input-review {
    padding: 22px 24px;
    height: 66px;
  }
  .comment-form-rev {
    width: 437px;
    height: 137px;
  }
  .input-tel {
    padding: 21px 23px 21px 177px;
  }
  .tel-label {
    left: 70px;
  }
  .tel-label::after {
    top: -5px;
    height: 32px;
    margin-left: 20px;
  }
  .svg-flag {
    left: 24px;
    width: 32px;
    height: 32px;
  }
}
