<header class="header" id="header">
  <div class="container header-container">
    <a href="../index.html" class="logo">
      <span class="logo-start">simply &nbsp;</span> chocolate
      <svg class="logo-ico">
        <use href="./img/sprite.svg#logo-small"></use>
      </svg>
    </a>
    <div class="header-menu is-hidden" data-menu>
      <button type="button" class="menu-close" data-menu-close>
        <svg class="close-ico">
          <use href="./img/sprite.svg#close-small"></use>
        </svg>
      </button>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a class="nav-link scroll" href="#hero">Home</a>
          </li>
          <li class="header-nav-item">
            <a class="nav-link scroll" href="#how-its-made"
              >How it&#39;s made?</a
            >
          </li>
          <li class="header-nav-item">
            <a class="nav-link scroll" href="#our-products">Our products</a>
          </li>
          <li class="header-nav-item">
            <a class="nav-link scroll" href="#top-sellers">Top sellers</a>
          </li>
          <li class="header-nav-item">
            <a class="nav-link scroll" href="#reviews">Chocolate is loved</a>
          </li>
        </ul>
      </nav>
      <address class="soc-link">
        <ul>
          <li>
            <a href="https://www.instagram.com/">
              <svg class="soc-ico">
                <use href="./img/sprite.svg#instagram-mob"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https:/x.com/">
              <svg class="soc-ico">
                <use href="./img/sprite.svg#twitter-mob"></use>
              </svg>
            </a>
          </li>
        </ul>
      </address>
    </div>

    <button type="button" class="burger-menu" data-menu-open>
      <svg class="burger-ico">
        <use href="./img/sprite.svg#menu-small"></use>
      </svg>
    </button>
  </div>
</header>
