<header class="header" id="header">
    <section> <div class="container header-container">
    <a href="../index.html" class="logo">
      <span class="logo-start">simply &nbsp;</span> chocolate
      <svg class="logo-ico">
        <use href="../img/sprite.svg#logo-small"></use>
      </svg>
    </a>
    <div class="header-menu is-hidden" data-menu>
        <button type="button" data-menu-close>close</button>
        <nav class="header-nav">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">How it&#39;s made?</a></li>
        <li><a href="">Our products</a></li>
        <li><a href="">Top sellers</a></li>
        <li><a href="">Chocolate is loved</a></li>
      </ul>
    </nav>
    <address class="soc-link">
      <ul>
        <li>
          <a href="">
            <svg class="soc-ico">
              <use href="../img/sprite.svg#instagram-mob"></use>
            </svg>
          </a>
        </li>
        <li><a href=""></a>
            <svg class="soc-ico">
              <use href="../img/sprite.svg#twitter-mob"></use>
            </svg>
          </a></li>
      </ul>
    </address>
</div>
    
    <button type="button" class="burger-menu" data-menu-open>
        <svg class="burger-ico">
            <use href="../img/sprite.svg#menu-small"></use>
        </svg>
    </button>
    
  </div></section>
 
</header>
