<section class="hero overlay">
   <div class="container hero-main">
      <h1 class="title visualli-hidden">HERO</h1>
      <h2 class="hero-subtitle">
         Treat yourself or a loved one to our finest ingredients for a moment of pure delight!
      </h2>
      <div class="hero-elements">
         <div class="elements-box">
            <button type="button" class="buy-btn">Buy now</button>
            <a href="./how-its-made.html">How it’s made</a>
         </div>
         <a href="./footer.html" class="arrow-link">
            scroll down
            <svg>
               <use href="../img/sprite.svg"></use>
            </svg>
         </a>
      </div>
   </div>
</section>