<section class="hero">
   <div class="container overlay">
      <div class="hero-main">
         <h1 class="title is-hidden">HERO</h1>
         <h2 class="hero-subtitle">
            Treat yourself or a loved one to our finest ingredients for a moment of pure delight!
         </h2>
         <div class="hero-elements">
            <div class="elements-box">
               <button type="button" class="buy-btn">Buy now</button>
               <a href="./how-its-made.html" class="how-link">How it’s made</a>
            </div>
            <a href="#" class="arrow-link">
               scroll down
               <svg width="16px" height="16px" class="arrow-svg">
                  <use href="../img/sprite.svg#arrow-small"></use>
               </svg>
            </a>
         </div>
      </div>
   </div>      
</section>   
