<section id="hero">
  <div class="container overlay">
    <div class="hero-main">
      <h1 class="title is-hidden">Hero</h1>
      <h2 class="hero-subtitle">
        Treat yourself or a loved one to <br />our finest ingredients for a
        moment <br />of pure delight!
      </h2>
      <div class="hero-elements">
        <div class="elements-hero-box">
          <button type="button" class="btn" data-buynow-open>Buy now</button>
          <a href="#how-its-made" class="how-link">How it&#39;s made</a>
        </div>
        <a href="#footer" class="arrow-link">
          scroll down
          <div class="arrow-svg-box">
            <svg width="16px" height="16px" class="arrow-svg">
              <use href="./img/sprite.svg#arrow-small"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
