<div class="backdrop is-hidden" data-thank-backdrop>
  <div class="modal-thank is-hidden" data-thank-modal>
    <button type="button" class="thank-close-btn" data-thank-close>
      <svg class="thank-close-ico">
        <use href="./img/sprite.svg#close-big"></use>
      </svg>
    </button>
    <h3 class="thank-title">thank you!</h3>
    <p class="thank-text">
      We are glad that you ordered our chocolate and we are giving you a 20%
      discount on all our products.
    </p>
  </div>
</div>
