<div class="backdrop is-hidden" data-buynow>
   <div class="modal-buynow">
      <button type="button" class="close-btn" data-buynow-close>
         <svg width="24px" height="24px" class="svg-close">
            <use href="./img/sprite.svg#close-big"></use>
         </svg>
      </button>
      <h3 class="sec-title modal-buy-title"><span>buy</span> now</h3>
      <ul class="list-gram">
         <li class="gram-item onehundred">
            <picture>
               <source
                 srcset="
                     ./img/modal/buynow/100g-desk@1x.jpg 1x,
                     ./img/modal/buynow/100g-desk@2x.jpg 2x
                 "
                 media="(min-width: 1200px)"
               >
               <source
                 srcset="
                     ./img/modal/buynow/100g-tab@1x.jpg 1x,
                     ./img/modal/buynow/100g-tab@2x.jpg 2x
                 "
                 media="(min-width: 768px)"
               >
   
               <img
                 src="./img/modal/buynow/100g-mob@1x.jpg"
                 alt="100g"
                 class="buy-img"
               >
             </picture>
            <button type="button" class="btn modal-buy-gram">100g</button>          
         </li>
         <li class="gram-item twohundred">
               <picture>
                  <source
                    srcset="
                     ./img/modal/buynow/200g-desk@1x.jpg 1x,
                     ./img/modal/buynow/200g-desk@2x.jpg 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                        ./img/modal/buynow/200g-tab@1x.jpg 1x,
                        ./img/modal/buynow/200g-tab@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
      
                  <img
                    src="./img/modal/buynow/200g-mob@1x.jpg"
                    alt="200g"
                    class="buy-img"
                  />
               </picture>
               <button type="button" class="btn modal-buy-gram">200g</button>
         </li>
         <li class="gram-item threehundred">
               <picture>
                  <source
                    srcset="
                        ./img/modal/buynow/300g-desk@1x.jpg 1x,
                        ./img/modal/buynow/300g-desk@2x.jpg 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                           ./img/modal/buynow/300g-tab@1x.jpg 1x,
                           ./img/modal/buynow/300g-tab@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
      
                  <img
                    src="./img/modal/buynow/300g-mob@1x.jpg"
                    alt="300g"
                    class="buy-img"
                  />
               </picture>
               <button type="button" class="btn modal-buy-gram">100g</button>          
         </li>
      </ul>
      <form class="review-form" autocomplete="off">
         <div class="form-field-buynow">
            <label for="name" class="label-buy">Personal information</label>
            <div class="pers-info">
               <input type="text" name="name" id="name" class="input-review" placeholder="Name">
               <input type="text" name="surname"  class="input-review" placeholder="Surname">
            </div> 
         </div>
         <div class="form-field-buynow">
            <label for="email" class="label-buy">Email</label>
            <input type="email" name="email" id="email" class="input-review" placeholder="Enter your email">
         </div>
         <div class="form-field-buynow">
            <label for="tel" class="label-buy">Phone number</label>
            <label for="tel" class="tel-label">+380</label>
            <input type="tel" name="tel" id="tel" class="input-review input-tel" placeholder="Phone number" maxlength="9">
            <svg width="24px" height="24px" class="svg-flag">
               <use href="./img/sprite.svg#flag"></use>
            </svg>
         </div>
         <div class="form-field-buynow">
            <label for="card" class="label-buy">Card number</label>
            <input type="tel" name="tel" id="card" class="input-review input-card" placeholder="Enter card" maxlength="16">
            <svg width="32px" height="21x" class="svg-card">
               <use href="./img/sprite.svg#mastercard"></use>
            </svg>
         </div>
         <div class="comment-form">
            <label for="comment" class="label-buy">Comment</label>
            <textarea name="comment" id="comment" placeholder="Enter text" class="comment-buy"></textarea>
         </div>
         <button type="submit" class="btn">Submit</button>
      </form>
   </div>
</div>