<div class="backdrop is-hidden" data-feedback-backdrop>
  <div class="modal-feedback is-hidden" data-feedback-modal>
    <button type="button" class="feedback-close-btn" data-feedback-close>
      <svg width="16px" height="16px" class="feedback-close-ico">
        <use href="./img/sprite.svg#close-big"></use>
      </svg>
    </button>
    <h3 class="feedback-title">
      thank you <br />
      for your feedback!
    </h3>
    <p class="feedback-text">
      We are so happy to hear <br />
      from you!
    </p>
  </div>
</div>
