<div class="backdrop is-hidden" data-explore-backdrop>
  <div class="modal-explore is-hidden" data-explore>
    <div class="explore-modal-bg"></div>
    <button type="button" class="close-btn" data-explore-close>
      <svg width="24px" height="24px" class="svg-close">
        <use href="./img/sprite.svg#close-big"></use>
      </svg>
    </button>
    <div class="explore-items">
      <h3 class="sec-title modal-explore-title">
        Explore our <br /><span>new chocolate</span> first!
      </h3>
      <form class="explore-form" autocomplete="off">
        <input required type="email" name="email" class="input-explore" 
          placeholder="Enter your email" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"/>
        <button type="submit" class="btn modal-sub-btn">Submit</button>
      </form>
    </div>
  </div>
</div>
