<section id="reviews">
  <div class="container">
    <h2 class="sec-title"><span>chocolate</span> is loved</h2>
    <div class="swiper-rew">
      <ul class="review-cards swiper-wrapper">
        <li class="review-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/review/victoria@1x.png 1x,
                ./img/review/victoria@2x.png 2x
              "
            />
            <img src="./img/review/victoria@1x.png" alt="victoria" />
          </picture>
          <h3 class="revier">Victoria Dobrzhanska</h3>
          <p class="review-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </li>
        <li class="review-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/review/nazar@1x.png 1x,
                ./img/review/nazar@2x.png 2x
              "
            />
            <img src="./img/review/nazar@1x.png" alt="nazar" />
          </picture>
          <h3 class="revier">Nazar Babenko</h3>
          <p class="review-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </li>
        <li class="review-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/review/olena@1x.png 1x,
                ./img/review/olena@2x.png 2x
              "
            />
            <img src="./img/review/olena@1x.png" alt="olena" />
          </picture>
          <h3 class="revier">Olena Kampusch</h3>
          <p class="review-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </li>
        <li class="review-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/review/natalia@1x.png 1x,
                ./img/review/natalia@2x.png 2x
              "
            />
            <img src="./img/review/natalia@1x.png" alt="natalia" />
          </picture>
          <h3 class="revier">Natalia Sus</h3>
          <p class="review-text">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </li>
        <li class="review-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/review/danilo@1x.png 1x,
                ./img/review/danilo@2x.png 2x
              "
            />
            <img src="./img/review/danilo@1x.png" alt="danilo" />
          </picture>
          <h3 class="revier">Danilo Nottingham</h3>
          <p class="review-text">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
        </li>
        <li class="review-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/review/irina@1x.png 1x,
                ./img/review/irina@2x.png 2x
              "
            />
            <img src="./img/review/irina@1x.png" alt="irina" />
          </picture>
          <h3 class="revier">Irina Tydnyuk</h3>
          <p class="review-text">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :)
          </p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
    <button type="button" class="btn btn-rev" data-review-open>
      Leave a review
    </button>
  </div>
</section>
