<section class="top-sellers">
  <div class="container">
    <h1 class="section-title"><span class="title-wort">Top</span> sellers</h1>
    <div class="sellers-main">
      <ul class="sellers-list">
        <li class="item-sel-1">
          <picture>
            <source
              srcset="
                ./img/topsellers/seller1-desk@1x.jpg 1x,
                ./img/topsellers/seller1-desk@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/topsellers/seller1-tab@1x.jpg 1x,
                ./img/topsellers/seller1-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <img
              src="./img/topsellers/seller1-mob@1x.jpg"
              alt="Chocolate with nuts"
              class="sel-img"
            />
          </picture>
        </li>
        <li class="item-sel-2">
          <picture>
            <source
              srcset="
                ./img/topsellers/seller2-desk@1x.jpg 1x,
                ./img/topsellers/seller2-desk@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/topsellers/seller2-tab@1x.jpg 1x,
                ./img/topsellers/seller2-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <img
              src="./img/topsellers/seller2-mob@1x.jpg"
              alt="Milk chocolate"
              class="sel-img"
            />
          </picture>
        </li>
        <li class="item-sel-3">
          <picture>
            <source
              srcset="
                ./img/topsellers/seller3-desk@1x.jpg 1x,
                ./img/topsellers/seller3-desk@2x.jpg 2x
              "
            />
            <img
              src="./img/topsellers/seller3-desk@1x.jpg"
              alt="Dark chocolate pyramid"
              class="sel-img vis-hiden"
            />
          </picture>
        </li>
        <p class="sellers-descr">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
        <button type="button" class="btn item-sel-btn" data-buynow-open>Buy now</button>
      </ul>
    </div>
  </div>
</section>
