<section class="top-sellers">
   <div class="container">
      <h1 class="title"><span>TOP</span>SELLERS</h1>
      <div class="sellers-main">
         <ul class="sellers-imgs">
            <li>
               <img src="../img/topsellers/seller1-mob@1x.jpg" alt="Chocolate with nuts">
            </li>
            <li>
               <img src="../img/topsellers/seller2-mob@1x.jpg" alt="Milk chocolate">
            </li>
            <li>
               <img src="../img/topsellers/seller3-desk@1x.jpg" alt="Dark chocolate pyramid">
            </li>
         </ul>
         <div class="sellers-item">
            <p>Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. 
               Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
            <button type="button" class="buy-btn">Buy now</button>
         </div>
      </div>
   </div>
</section>