<section>
  <div class="container">
    <h2 class="unico-title">
      it all adds up to one exceptional <span>taste</span> sensation
    </h2>
    <p class="unico-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="unico-list">
      <li class="unico-item">
        <picture>
          <source
            srcset="
              .//img/unique-components/milkchoc-desk@1x.png 1x,
              ./img/unique-components/milkchoc-desk@2x.png  2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/unique-components/milkchoс-mobtab@1x.png 1x,
              ./img/unique-components/milkchoс-mobtab@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/unique-components/milkchoс-mobtab@1x.png 1x,
              ./img/unique-components/milkchoс-mobtab@2x.png 2x
            "
            media="(max-width: 768px)"
          />
          <img
            src="./img/unique-components/milkchoc-desk@1x.png"
            alt="chocolate"
          />
        </picture>
        <p class="unico-descr">milk chocolate</p>
        <div class="unico-card"></div>
      </li>
      <li class="unico-item">
        <picture>
          <source
            srcset="
              ./img/unique-components/milk-desk@1x.png 1x,
              ./img/unique-components/milk-desk@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/unique-components/milk-mobtab@1x.png 1x,
              ./img/unique-components/milk-mobtab@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/unique-components/milk-mobtab@1x.png 1x,
              ./img/unique-components/milk-mobtab@2x.png 2x
            "
            media="(max-width: 768px)"
          />
          <img src="./img/unique-components/milk-desk@1x.png" alt="chocolate" />
        </picture>
        <p class="unico-descr">milk</p>
        <div class="unico-card"></div>
      </li>
      <li class="unico-item">
        <picture>
          <source
            srcset="
              ./img/unique-components/nuts-desk@1x.png 1x,
              ./img/unique-components/nuts-desk@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/unique-components/nuts-mobtab@1x.png 1x,
              ./img/unique-components/nuts-mobtab@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/unique-components/nuts-mobtab@1x.png 1x,
              ./img/unique-components/nuts-mobtab@2x.png 2x
            "
            media="(max-width: 768px)"
          />
          <img src="./img/unique-components/nuts-desk@1x.png" alt="chocolate" />
        </picture>
        <p class="unico-descr">nuts</p>
        <div class="unico-card"></div>
      </li>
      <li class="unico-item">
        <picture>
          <source
            srcset="
              ./img/unique-components/semisweet-desk@1x.png 1x,
              ./img/unique-components/semisweet-desk@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/unique-components/semisweet-mobtab@1x.png 1x,
              ./img/unique-components/semisweet-mobtab@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/unique-components/semisweet-mobtab@1x.png 1x,
              ./img/unique-components/semisweet-mobtab@2x.png 2x
            "
            media="(max-width: 768px)"
          />
          <img
            src="./img/unique-components/semisweet-desk@1x.png"
            alt="chocolate"
          />
        </picture>
        <p class="unico-descr">semi-sweet chocolate</p>
        <div class="unico-card"></div>
      </li>
    </ul>
  </div>
</section>
