.advantages{
   background-color: var(--color-dark);
}

.advantages-list {
   padding: 0;
}
.advantages-list-item{
   padding-right: 28px;
}
.icon-border{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 62px;
   height: 62px;
   border: 1px solid var(--color-white-70); /* 50*/
   border-radius: 50%;
}
.advantages-icon{
   fill: var(--color-orange);
}
.advantages-title {
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   color: var(--color-white);
}
.advantages-descr {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   letter-spacing: -0.02em;
   color: var(--color-white-70); /* 50 */
}