.logo {
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 1.29;
  letter-spacing: -0.03em;
  font-size: 14px;
  min-width: 169px;

  text-transform: uppercase;
  font-weight: bold;
}
.logo-start {
  font-style: italic;
}
.logo-ico {
  margin-left: 4px;
  width: 21px;
  height: 21px;
}
.logo-ico > use {
  width: 100%;
  height: 100%;
}
.header-menu.is-hidden {
  display: none;
}
.burger-menu {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 28px;
  height: 28px;
}
.burger-ico {
  stroke: var(--color-black);
  width: 28px;
  height: 28px;
}

/*!tablet */
@media screen and (min-width: 768px) {
}

/*! desktop */
@media screen and (min-width: 1200px) {
  .header-menu {
    display: flex;
  }
  .header-nav > ul {
    display: flex;
    gap: 24px;
  }
  .burger-menu {
    display: none;
  }
  .soc-link > ul {
    display: flex;
    gap: 18px;
  }
  .soc-ico {
    width: 24px;
    height: 24px;
    stroke: var(--color-black);
    fill: transparent;
  }
}
