.how-its-made {
  margin-bottom: 72px;
}
iframe {
  width: 100%;
  height: 500px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.section-title {
  margin: 0px 0px 32px 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
}
.title-rezept {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}
.title-wort {
  color: var(--color-orange);
}
.rezept {
  padding: 20px 14px 20px 14px;
  background-color: aqua;
  border-radius: 15px;
}
.rezept-list {
  padding: 0px 0px 0px 14px;
}
.point-rezept {
  list-style-image: url(../../img/marker.svg);
}
.point-rezept {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
}
.point-rezept:not(:last-child) {
  margin-bottom: 18px;
}

@media (min-width: 768px) {
  .how-its-made {
    margin-bottom: 100px;
  }
  iframe {
    height: 400px;
  }
  .section-title {
    margin: 0px 0px 50px 0px;
    font-size: 24px;
    line-height: 28px;
  }
  .title-rezept {
    max-width: 350px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }
  .rezept-list {
    margin-top: 28px;
  }
  .rezept {
    padding-right: 70px;
    padding-left: 32px;
  }
  .point-rezept{
    max-width: 480px;
  }
}

@media (min-width: 1200px) {
  .how-its-made-main {
    display: flex;
  }
  iframe{
    max-width: 600px;
    height: 400px;
    margin-right: 20px;
    margin-bottom: 0;
  }
  .title-rezept{
    margin-bottom: 28px;
  }
  .rezept{
    padding-top: 32px;
    padding-right: 38px;
  }
  .point-rezept{
    max-width: 425px;
  }
  .point-rezept:first-child{
    display: none;
  }
}
