.product-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  margin-bottom: 32px;
}
.product-title > span {
  color: var(--color-orange);
}
.product-list {
  display: flex;
}
.product-item {
  padding: 32px 52px;
  flex-shrink: 0;
  width: 335px;
  height: 364px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: var(--color-white);
}
.product-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-subtitle {
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
}
.product-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--color-black-70);
  margin-bottom: 18px;
}
.product-price {
  display: block;
  text-align: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  width: fit-content;
  background-color: var(--main-background-color);
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 17px;
}

/*! tablet */
@media screen and (min-width: 768px) {
  .product-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
  .swiper-pagination {
    margin-top: 32px;
  }

  .product-item {
    width: 270px;
    padding: 32px 20px;
  }
}
