.unico-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  width: 283px;
  margin: auto;
  margin-bottom: 24px;
}
.unico-title > span {
  color: var(--color-orange);
}
.unico-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}

.unico-list {
  margin-top: 32px;
}

.unico-item {
  overflow: hidden;
  position: relative;
  width: 335px;
  height: 270px;
  border: 1px solid var(--color-orange);
  border-radius: 15px;
}
.unico-item:not(:last-child) {
  margin-bottom: 20px;
}
.unico-item > picture > img {
  margin: 28px auto 25px auto;
  width: 224px;
  height: 171px;
}
.unico-item:first-child {
  color: var(--color-white);
  background-color: var(--color-orange);
  border-color: var(--color-orange);
}
.unico-item:nth-child(2n + 2) {
  border-color: var(--color-orange);
}
.unico-item:nth-child(3) {
  color: var(--color-white);
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}
.unico-descr {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-left: 28px;
  margin-bottom: 28px;
}
.unico-item:hover .unico-card,
.unico-item:focus .unico-card {
  transform: translateX(0) var(--transition);
}
.unico-item:hover,
.unico-item:focus {
  border-color: var(--color-white);
}
.unico-card {
  padding: 28px;
  display: inline-block;
  transform: translateX(-100%);
  transition: transform var(--transition);
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  right: 0%;
  width: 100%;
  height: 100%;
}
.unico-card-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--color-black);
  margin-bottom: 8px;
}
.card-btn {
  white-space: nowrap;
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  padding: 6px 16px;
}
.card-btn-sec {
  color: var(--color-black);
  background-color: var(--main-background-color);
  border: 1px solid var(--color-orange);
}
.btn-wrap {
  margin-bottom: 14px;
  display: flex;
  gap: 6px;
}
.card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  overflow-y: scroll;
  max-height: 146px;
  color: var(--color-dark);
}
.card-text::-webkit-scrollbar {
  display: none;
}
/*! tablet */
@media screen and (min-width: 768px) {
  .unico-title {
    font-size: 24px;
    line-height: 1.17;
    width: 411px;
    margin-bottom: 28px;
  }
  .unico-text {
    width: 486px;
    margin: auto;
  }
  .unico-list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  .unico-item {
    width: 336px;
  }
  .unico-item:not(:last-child) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    .unico-item:nth-child(4) {
      order: 2;
    }
    .unico-item:nth-child(2) {
      order: 3;
    }
    .unico-item:nth-child(3) {
      order: 4;
    }
  }
}
/*! desktop */
@media screen and (min-width: 1200px) {
  .unico-list {
    gap: 19px;
    flex-wrap: nowrap;
  }
  .unico-item {
    width: 270px;
  }

  .unico-item > picture > img {
    width: 206px;
    height: 160px;
    margin-bottom: 36px;
  }
}
